#compass{

    list-style-type: none;
   
   margin: 0;
   
   padding: 0;
   
   overflow: hidden;
   
   background-color: #333;
   
   color:gold;
   
   }
   
   li {
   
   float: left;
   
    }
   
   li a {
   
   display: block;
   
   text-align: center;
   
   color:gold;
   
   padding: 14px 16px;
   
   text-decoration: none;
   
   }